.article {
  display: flex;
  justify-content: center;

  img {
    width: 800px;
    height: auto;
  }

  @media (max-width: '900px') {
    img {
      width: 100%;
    }
  }
}

.markdown  {
  font-size: 1.2rem;

  h1 {
    margin-bottom: 4rem;
  }

  @media (max-width: '600px') {
    font-size: 1rem;
  }

}