.footer {
  height: 40vh;
  background-color: var(--main-color);

  .instagram {
    font-size: 80px;
  }

  .email {
    font-size: 85px;
  }

  .icon {
    transition:transform 0.1s ease-in-out;
    cursor: pointer;
  }

  .icon:hover {
    transform: translateY(-5px);
  }
}
