.footer {
  padding: 30px 0;
  background-color: var(--main-color);

  .instagram {
    font-size: 80px;
  }

  .email {
    font-size: 85px;
  }

  .icon {
    color: var(--secondary-color);
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
  }

  .icon:hover {
    transform: translateY(-5px);
  }

  @media (max-width: 601px) {
    .instagram {
      font-size: 65px;
    }

    .email {
      font-size: 70px;
    }
  }
}
