@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
  --main-color: #f48fb1;
  --secondary-color: #5e002e;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  color: var(--secondary-color);
}

a {
  text-decoration: none;
}
